/* default theme */
body {
    --text-color: white;
    --text-shadow-color: #000000bd;
    --text-shadow-dark: #000000bd;

    --background-color-1: #252525;
    --background-color-2: #606060;
    --background-color-2-hover: #707070;
    --background-color-3: #464648c4;

    --hover-color-neutral-1: #7b7b7b;


    --button-background: #606060;
    --border-color: #808080;
    --nav-color: black;


    @media (prefers-color-scheme: light) {
        --text-color: rgb(27, 27, 27);
        --text-shadow-color: transparent;

        --background-color-1: white;
        --background-color-2: #e4ebf4;
        --background-color-2-hover: #d9e3ef;
        --background-color-3: #98b6db61;

        --hover-color-neutral-1: #d3dfed;


        --button-background: #e4ebf4;
        --border-color: #c1cad6;
        --nav-color: transparent;
    }
    
    
    /* apply defaults */
    background-color: var(--background-color-1);
    color: var(--text-color);
    text-shadow: 0.07rem 0.05rem 0.1rem var(--text-shadow-color);
}


/* manual dark theme */
.darkTheme {
    --text-color: white;
    --text-shadow-color: #000000bd;
    --text-shadow-dark: #000000bd;

    --background-color-1: #252525;
    --background-color-2: #606060;
    --background-color-2-hover: #707070;
    --background-color-3: #464648c4;

    --hover-color-neutral-1: #7b7b7b;


    --button-background: #606060;
    --border-color: #808080;
    --nav-color: black;

    /* apply defaults to inherit */
    color: var(--text-color);
    text-shadow: 0.07rem 0.05rem 0.1rem var(--text-shadow-color);
}


/* manual light theme */
.lightTheme {
    --text-color: rgb(27, 27, 27);
    --text-shadow-color: transparent;

    --background-color-1: white;
    --background-color-2: #e4ebf4;
    --background-color-2-hover: #d9e3ef;
    --background-color-3: #d4e1f4dd;

    --hover-color-neutral-1: #d3dfed;


    --button-background: #e4ebf4;
    --border-color: #c1cad6;
    --nav-color: transparent;

    /* apply defaults to inherit*/
    color: var(--text-color);
    text-shadow: 0.07rem 0.05rem 0.1rem var(--text-shadow-color)
}

/* changes scroller color */
body:has(.lightTheme) {
    background-color: white;
}

body:has(.darkTheme) {
    background-color: black;
}


/* color accents */
.orangeAccent {
    --accent-color: #fb6921;
    --active-color: red;
    --hover-color: #fd853a;
    --checkbox-color: #ff5500;
}

.blueAccent {
    --accent-color: #0055ff;
    --active-color: #2700a5;
    --hover-color: #0099ff;
    --checkbox-color: #0055ff;
}

/* apply defaults for current accents  */
* {
    accent-color: var(--accent-color);


    &:focus-visible {
        outline: 1px solid var(--accent-color);
    }

    & input[type=checkbox] {
        accent-color: var(--checkbox-color);
    }
}