.button {
    background-color: var(--button-background);
    border: none;
    border-radius: 3px;
    color: inherit;
    cursor: pointer;

    font-weight: normal;        
    display: inline;
    padding: 0.2rem 0.5rem;
    text-shadow: inherit;

    min-width: fit-content;

    &:hover {
        background-color: var(--hover-color);
    }
    &:active {
        background-color: var(--active-color);
    }
}

.transparent {
    background-color: transparent;
}

.grow {
    flex-grow: 1;
}