.dictionaryWords {
    background-color: var(--background-color-2);
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    
    height: 24rem;

    padding: 0.5rem;

}

.placeholder {
    align-self: center;
    align-content: center;
    
    color: rgb(153, 151, 151);
    font-family: sans-serif;
    font-size: 1.4rem;
    
    height: 100%;
    margin: 0;
}