.layout {
    background-color: var(--background-color-1);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.footer {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 2rem;
    padding: 1rem;
    width: 100%;
    
    & > p {
        font-size: 1rem;
        margin: 0;
    }
}

.main {
    flex-grow: 1;
    padding: 1rem;
    max-width: 2500px;
    margin: auto;
    width: 100%;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    width: 100%;
    height: min-content;

    padding: 1rem;
}

.navbarButtons {
    grid-column: 1 / 2;
    display: flex;
    padding: 0.3rem 0;
    gap: 0.5rem;
}

.navbarTitle {
    grid-column: 2 / 3;
    text-align: center;

    margin: 0;

    font-size: 1.95rem;
    font-weight: 400;
}


.colorSchemeIsAutoBtnMod {
    font-size: 0.95rem;
}

.colorSchemeBtn {
    background: none;
    width: 3rem;
}

.accentColorBtn {
    position: relative;
    background-color: unset;
    width: max-content;
    padding: 0 0.2rem;
    
    & > p {
        border-radius: 5px;
        height: 0.3rem;
        width: 2.5rem;
    }

    &:hover > p {
        border: 1px solid black;
    }
}