.layout {
    background-color: var(--background-color-1);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.footer {
    align-items: center;
    background-color: var(--nav-color);
    display: flex;
    justify-content: center;
    min-height: 2rem;
    padding: 0.5rem;
    width: 100%;
    
    & > p {
        font-size: 1rem;
        margin: 0;
    }
}

.main {
    flex-grow: 1;
    padding: 1rem;
    max-width: 2500px;
    margin: auto;
    width: 100%;
}

.navbar {
    align-items: center;
    background-color: var(--nav-color);
    display: flex;
    color: inherit;
    justify-content: center;
    min-height: 3rem;
    padding: 0.5rem;
    width: 100%;
    gap: 1rem;
    
    & > p {
        font-size: 2rem;
        margin: 0;
    }
}

.navbarButtons {
    display: flex;
    padding-top: 0.4rem;
}