.inputWrap {
    display: block;
}

.translateInput {
    background-color: var(--background-color-2);
    border: none;
    border-radius: 3px;
    display: block;
    font-size: 1rem;
    color: inherit;
    height: 9rem;
    resize: none;
    padding: 0.2rem 0.5rem;
    text-shadow: inherit;
    width: 100%;

    &:hover {
        background-color: var(--background-color-2-hover);
    }
}

.buttonsWrap {
    display: flex;
    column-gap: 7px;
    justify-content: end;
    margin-top: 0.5rem;
    height: 2rem;
    width: 100%;
}

.autoTranslateLabel {
    align-self: center;
    justify-self: start;
    padding-right: 5px;
    min-width: max-content;

    & > input[type=checkbox] {
        height: 0.9rem;
        width: 0.9rem;
        margin-left: 0.5rem;
    }
}