.translateInput {
    display: block;
}

.textAreaWrap {
    position: relative;
    width: 100%;
}

.textArea {
    background-color: var(--background-color-2);
    border: none;
    border-radius: 3px;
    display: block;
    font-size: 1rem;
    color: inherit;
    height: 9rem;
    resize: none;
    padding: 0.5rem;
    padding-right: 2rem;
    text-shadow: inherit;
    width: 100%;
    
    &:hover, .textAreaWrap:hover & {
        background-color: var(--background-color-2-hover);
    }
}

.clearBtn {
    position: absolute;
    right: 0.3rem;
    top: 0.4rem;

    background: none;
    border: none;
    border-radius: 2px;
    color: #fc4566;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: normal;
    text-shadow: inherit;
    width: 1.4rem;
    text-align: center;
    aspect-ratio: 1/1;
    padding-right: 0.33rem;


    &:hover {
        background-color: var(--hover-color);
    }
    &:active {
        background-color: var(--active-color);
    }
}

.buttonsWrap {
    display: flex;
    column-gap: 7px;
    justify-content: end;
    margin-top: 0.5rem;
    height: 2rem;
    width: 100%;
}

.autoTranslateLabel {
    align-self: center;
    justify-self: start;
    padding-right: 5px;
    min-width: max-content;

    & > input[type=checkbox] {
        height: 0.9rem;
        width: 0.9rem;
        margin-left: 0.5rem;
    }
}

.hidden {
    display: none;
}