.translateOptions {
    background-color: var(--background-color-2);
    display: flex;
    column-gap: 7px;

    border-radius: 3px;
    flex-wrap: wrap;

    justify-content: start;
    align-items: start;
    align-content: start;
    height: 7.2rem;

    padding: 7px 0.5rem;
    row-gap: max(0.5rem, 5px);

    overflow-y: auto;

    &:empty {
        display: none;
    }
}