.translateOutput {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    & > textarea {
        background-color: var(--background-color-2);
        border: none;
        border-radius: 3px;
        color: var(--text-color);

        height: 10rem;

        font-size: 1rem;
        padding: 0.2rem 0.5rem; 
        resize: none;
        text-shadow: inherit;

        &:hover {
            background-color: var(--background-color-2-hover);
        }
    }
}

.buttonsWrap {
    display: flex;
    justify-content: end;

       & > button {
        background-color: var(--button-background);
        border: none;
        border-radius: 3px;
        cursor: pointer;
        color: inherit;
        font-weight: normal;
        min-height: 2rem;
        padding: 0.2rem 0.5rem;
        text-shadow: inherit;

        &:hover {
            background-color: var(--hover-color);
        }
        &:active {
            background-color: var(--active-color);
        }
    } 
}