.option {
    background-color: var(--background-color-3);
    border: none;
    border-radius: 5px;
    
    color: inherit;
    cursor: pointer;

    font-size: 0.9rem;
    font-weight: 400;

    display: block;
    
    margin: 0;
    padding: 5px;

    text-shadow: inherit;

    &:hover {
        background-color: var(--hover-color);
    }
    &:active {
        background-color: var(--active-color);
    }
}