.translateOptions {
    background-color: var(--background-color-2);
    display: flex;
    column-gap: 7px;

    border-radius: 3px;
    flex-wrap: wrap;

    justify-content: start;
    align-items: start;
    max-height: 8rem;

    padding: 7px 0.5rem;
    row-gap: max(0.5rem, 5px);

    
    &:not(:has(*)) {
        display: none;
    }
}